
.modal-content h2{
    color: #DD9D27;
    margin-left: 4rem;
    margin-top: 2rem;
    font-size: 2rem;
    
}

.cart-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
   margin-top: 3rem;
}

.cart-empty p{
    font-size: 1.4rem;
    color: rgb(162, 161, 161);
}
.cart-empty button{
    border: none;
}
.cart-empty button a{
    text-decoration: none;
    
}

.modal{
    position: relative;
    margin-top: 8rem;
}

.cart-item {
    margin: 1.9rem 0;
    display: flex;
    flex-direction: row;
    border: none;
    width: 50%;
    margin-left: 80px;
    border-top: 3px solid #e5e7eb;
    overflow-x: hidden;
    padding-top: 1rem;
    

}

.cart-item img {
    width: 15%;
    margin-right: 2rem;

}

.cart-item-details {
    display: flex;
    flex-direction: column;
}


.cart-item-details h4 {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.cart-item-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.quantity-btn {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.25rem;
    cursor: pointer;
    border: none;
}
.quantity-btn:hover {
    background-color: #DD9D27;
    color: white;
}


.cart-total {
    display: none;
    position: absolute;
    width: 30%;
    height: 300px;
    top: 0;
    right: 0;
    /* display: flex; */
    flex-direction: column;
    color: black;
    align-items: start;
    font-weight: 600;
    margin-top: 1rem;
    padding-top: 1rem;
}
.Total{
    font-size: 1rem;
    margin-bottom: 0.7rem;
    color: rgb(95, 92, 92);
}
#cartTotal{
    font-size: 2rem;  
}
.checkout-btn {
    /* width: 80%; */
    padding: 0.75rem;
    font-size: 1rem;
    background-color: #DD9D27;
    color: #ffffff;
    border: none;
    border-radius: 0.375rem;
    margin-top: 1rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.checkout-btn a{
    text-decoration: none;
    color: white;
}
.checkout-btn:hover {
    background-color: #efa73b;
}


.proceed-btn:hover {
    background-color: #966a29;
}

@media (max-width: 768px) {
    .cart-item {
        width: 100%;
        margin-left: 0;
    }

    .cart-item img {
        width: 30%;
    }

    .cart-item-details h4 {
        width: 100%;
    }
    .cart-item-actions{
        display: flex;
    }

    .cart-total {
        width: 100%;
        position: static;
        margin-top: 1rem;
    }
}