* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}


body {
  background-image: url("/image/46df8876863eef00b5f94138fd807552.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

 
}

.layout {
 top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 10px;
}


.auth-container {
  background-color: rgba(0, 0, 0, 0.70);
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  color: white;
}

.auth-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container input {
  width: 100%;
  display: block;
  padding: 10px;
  margin: 10px 0;
  /* background: #333; */
  border: 1px solid #444;
  /* color: white; */
  border-radius: 5px;
  outline: none;

}

input:hover {
  outline: 1px solid rgb(158, 158, 158);
}

.auth-container button {
  width: 100%;
  padding: 10px;
  background-color: #DD9D27;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.auth-container p {
  text-align: center;
  margin-top: 10px;
}

.auth-container a {
  color: white;
  text-decoration: none;
}

.auth-container a:hover {
  text-decoration: underline;
}