* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-title h1{
    font-size: 2rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DD9D27;

}
.item-products{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    border: 0.006rem solid #f8f8f8;
    width: 100%;
    height: 400px;
    color: black;
    justify-content: start;
    text-align: start;
    cursor: pointer;
    transition: background-color 0.2s;
}

.item h3{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px; /* Adjust width as needed */
        margin-bottom: 1rem;

}

.item p {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #DD9D27;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1rem;
    
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top:  5rem;
}
.search input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #DD9D27;
    border-radius: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
}
.search input[type="text"]:focus {
    outline: none;
    border-color: #DD9D27;
}
.filters{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    margin-top:  2rem;
}
.filters select {
    padding: 0.5rem;
    border: 1px solid #DD9D27;
    border-radius: 0.5rem;
    margin-right: 1rem;
    font-size: 1rem;
}
.filters select:focus {
    outline: none;
    border-color: #DD9D27;
}




  

  